@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.container {
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gif-img {
  width: 240px;
  height: 187px;
}

.question {
  font-family: "Comfortaa", sans-serif;
  font-weight: 500;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
