/* * {
  margin: 0;
  padding: 0;
} */

.container {
  height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gif-img {
  width: 240px;
  height: 187px;
}

.question {
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn button {
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
  margin-right: 50px;
  cursor: pointer;
  font-size: 18px;
}

#yes {
  background-color: green;
  color: white;
}

#yes:hover {
  background-color: rgb(35, 228, 35);
}

#no {
  background-color: red;
  color: white;
}

#no:hover {
  background-color: rgb(212, 7, 7);
}
